*,*:after, *:before{
    box-sizing:border-box;
}
body{
    direction:ltr;
    margin:0;
}
ul,li{
    list-style:none;
    padding:0;
    margin:0;
}
h1,h2,h3,h4,h5,h6{
    margin:0;
}
a{
    text-decoration:none;
}
.test-hr{
    margin-top: 60px;
}
.test-hr hr {
    width: 50%;
    margin: 0 auto;
    height: 4px;
    border-width: 0px;
    background-color: #807d7d;
}
.overflow {
    margin-top: 100px;
    width: 150px;
    margin: 0 auto;
    background-color: #0a6973;
}
.overflow p{
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    font-size: 20px;
}
.animation{
    width: 320px;
    height: 320px;
    margin:0 auto;
    background-color: #a89fa4;
}
.animation .child{
    width: 40px;
    height: 40px;
    background-color: #40177e;
    animation-name: ani;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    position: relative;
}
@keyframes ani{
    0%{top:0;left: 0;}
    5%{top:0;left: 0;}
    10%{top:0;left: 0;}
    15%{top:0;left: 0;}
    20%{top: 40px;left: 40px;}
    25%{top:80px;left:80px;}
    30%{top:120px;left:120px;}
    35%{top:160px;left:160px;}
    40%{top:200px;left:200px;}
    45%{top:240px;left:240px;}
    50%{top: 280px;left:280px;}
    55%{top: 240px;left: 240px;}
    60%{top: 200px;left: 200px;}
    65%{top: 160px;left:160px;}
    70%{top: 80px;left:80px;}
    75%{top: 40px;left: 40px;}
    80%{top: 0px;left: 0px;}
    85%{top:0;left: 0;}
    90%{top:0;left: 0;}
    95%{top:0;left: 0;}
    100%{top:0;left: 0;}
}